<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/0720.css">
    <link rel="stylesheet" href="stylesheets/carousel.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.cycle2.js"></script>
</head>

<body>

    <div class="header">
        <div class="header_in">
            <input type="button" value="회원가입" onclick="location.href='/join'">
            <form method="post" action="/login" id="Form">
                <table>
                    <tr>
                        <td>이메일 또는 휴대폰</td>
                        <td>비밀번호</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="id"></td>
                        <td><input type="password" name="pw"></td>
                        <td><input type="submit" value="로그인"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div id="m">
        <div id="s">
            <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-speed="200">
                <img class="a" src="images/f.jpg">
                <img class="a" src="images/s.jpg">
                <img class="a" src="images/t.jpg">
                <img class="a" src="images/FF.jpg ">
            </div>
            <div class="content ">
                <div class="menu ">
                    <ul>
                        <li>
                            <a href="# "><img src="images/profile.png " style="width: 25px; height: 25px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 김 태 용</a>
                        </li>
                        <li>
                            <a href="# "><img src="images/profile.png " style="width: 25px; height: 25px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 둘 러 보 기</a>
                        </li>
                        <li>
                            <a href="# "><img src="images/profile.png " style="width: 25px; height: 25px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Messnger</a>
                        </li>
                        <li>
                            <a href="# "><img src="images/profile.png " style="width: 25px; height: 25px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; watch</a>
                        </li>
                        <li>
                            <a href="# "><img src="images/profile.png " style="width: 25px; height: 25px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; C.P.U</a>
                        </li>
                        <li>
                            <a href="# "><img src="images/profile.png " style="width: 25px; height: 25px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 그 룹</a>
                        </li>
                        <li>
                            <a href="# "><img src="images/profile.png " style="width: 25px; height: 25px ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 페 이 지</a>
                        </li>
                    </ul>
                </div>
                <div class="center ">
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                    <div class="C_box ">

                    </div>
                </div>
                <div class="side_bar ">
                    <div class="box_r ">

                    </div>
                    <div class="box ">

                    </div>
                </div>
            </div>
        </div>
        <script>
            const form = document.getElementById('Form');
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                let xhttp = new XMLHttpRequest();
                // XmlHttpRequest의 요청
                xhttp.onreadystatechange = (e) => {
                        // XMLHttpRequest를 이벤트 파라미터에서 취득
                        let req = e.target;
                        // 콘솔 출력
                        console.log(req);
                        // 통신 상태가 완료가 되면.
                        if (req.readyState === XMLHttpRequest.DONE) {
                            // Http response 응답코드가 200(정상)이면
                            if (req.status === 200) {
                                // response 결과를 콘솔에 출력
                                console.log(req.response);
                                const res = JSON.parse(req.response);
                                // json 타입이므로 object 형식으로 변환
                                if (res.err == 'user notfound') {
                                    alert('아이디가 없습니다.');
                                } else {
                                    if (res.pw === form.pw.value) {
                                        alert('로그인 성공!');
                                    } else {
                                        alert('비밀번호가 틀렸습니다.');
                                    }
                                }
                            }
                        }
                    }
                    // http 요청 타입과 주소, 동기식 여부
                xhttp.open("GET", "/users/" + form.id.value, true);
                // xml 형식을 받을 경우
                //xhttp.overrideMimeType('text/xml');
                // http 요청
                xhttp.send();
            });
        </script>
</body>

<!---->

</html>