<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="DELETE" action="/users">
        <input type="text" name="id">
        <input type="submit" value="탈퇴">
    </form>
    <script>
        const form = document.getElementById('Form');
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            let xhttp = new XMLHttpRequest();
            // XmlHttpRequest의 요청
            xhttp.onreadystatechange = (e) => {
                    // XMLHttpRequest를 이벤트 파라미터에서 취득
                    let req = e.target;
                    // 콘솔 출력
                    console.log(req);
                    // 통신 상태가 완료가 되면.
                    if (req.readyState === XMLHttpRequest.DONE) {
                        // Http response 응답코드가 200(정상)이면
                        if (req.status === 200) {
                            // response 결과를 콘솔에 출력
                            console.log(req.response);
                            const res = JSON.parse(req.response);
                            // json 타입이므로 object 형식으로 변환
                            if (res.err) {
                                alert('아이디가 없습니다.');
                            } else if (res.NP) {
                                alert('비밀번호가 맞지 않습니다.');
                            } else if () {

                            } else if () {

                            } else if () {

                            } else if () {

                            }
                        }
                    }
                }
                // http 요청 타입과 주소, 동기식 여부
            xhttp.open("GET", "/users/" + form.id.value, true);
            // xml 형식을 받을 경우
            //xhttp.overrideMimeType('text/xml');
            // http 요청
            xhttp.send();
        });
    </script>
</body>

</html>